$def with (book)
$var title: Книга $book.title
$:chunkrender.page_tab(book.id, 'book', '')
<div class="maininfo">

$if book.sequences:
  <div style="float:right">
  $for s in book.sequences:
    <a href="/sequence/$s.id">$s.name</a> \
    $if s.number:
      #$s.number \
    <br/>
  </div>
<div class="genres">
$for g in book.genres:
  <a href="/genre/$g.id">$g.description</a>\
  $if not loop.last: ,
</div>
<h1>$book.title \
$if book.deleted:
  (книга удалена)\
$if book.year:
  <span class="bookyear">($book.year)</span>
</h1>
$if book.covers:
  <div style="clear:right; float:right; padding-left:15px">
  <img src="/cover/$book.covers[0].fileid" alt="Cover"/>
  </div>

<div class="authors">
$for a in book.authors:
  <a href="/author/$a.id">$authorname(a)</a>\
  $if not loop.last: ,
</div>

$if book.annotation:
  $:book.annotation $# не эскепить html

<h3>Файлы</h3>
<ul>
$for f in book.files:
  $if not f.hidden:
    <li><a href="/file/$f.id">$f.title</a>
    $if f.translators:
      (пер:
      $for tr in f.translators:
        <a href="/author/$tr.id">$authorname(tr)</a>\
        $if not loop.last: ,
      )
    ($f.filetype) ($f.textsize)
    Скачать
    $if (f.filetype == 'fb2'):
      $for ff in fb2_formats:
        <a href="/download/$f.id/$ff">$ff</a> | \
      <a href="/read/$f.id">читать</a>
    $else:
      <a href="/download/$f.id/orig">$f.filetype</a>
    </li>
</ul>
$if book.alttitles:
  <h3>Другие названия книги</h3>
  <ul>
  $for t in book.alttitles:
    <li>$t.title</li>
  </ul>
</div>
<div style="clear:right">
<h3>Впечатление о книге</h3>
$if book.num:
  <p>Количество оценок: $(book.num). Средняя оценка: $(book.avg).</p>
$:chunkrender.reviews(book.reviews, book.rating)
</div>
