$def with (books, page, numpages)
$var title: Новые книги
<h1>Новые книги в библиотеке</h1>
$if context.username:
  <!--<p><a href="/user/$context.username/newbooksprefs">Настроить просмотр новых книг.</a></p>-->
$ prev_date = None
<form method="POST" action="/download">
$for b in books:
  $ date = strtime(b.created, 'day')
  $if date != prev_date:
    $if prev_date: </ul>
    <h3>$date</h3><ul>
    $ prev_date = date
  $:chunkrender.book_item(b)
$:chunkrender.many_download_buttons()
$:chunkrender.paging(page, numpages)
<input name="back" value="/newbooks?page=$page" type="hidden">
</form>
